

<header id="header">
    <div class="logo">
        <a href="#"><img src="images/logo-white.svg" width="117" alt="QUBS"></a>
    </div>
    <a href="#" class="search-opener"><i class="icon-search"></i></a>
    <form action="#" class="search-form">
        <div class="fields">
            <div class="form-group">
                <input type="text" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Last Name">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Birthday" data-datepicker="">
            </div>
        </div>
        <button type="submit" class="btn red">Search</button>
        <a href="#adv-search" class="btn blue lightbox">Advanced Search</a>
    </form>
    <a href="#" class="nav-opener"><span></span></a>
    <nav id="nav">
        <a href="#" class="author">Hashitha</a>
        <ul>
            <li>
                <a href="#" class="opener">Account</a>
                <ul class="dropdown">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Billing</a></li>
                    <li><a href="#">Sites</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="opener">Help</a>
                <ul class="dropdown">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                    <li><a href="#">Option 3</a></li>
                    <li><a href="#">Option 4</a></li>
                </ul>
            </li>
            <li><a href="#" class="logout">Logout</a></li>
        </ul>
    </nav>
</header>

@code {

}
