<table class="table responsive-table">
    <thead>
        <tr>
            <th>Patient Name</th>
            <th>Patient ID</th>
            <th>Birthdate</th>
            <th>Descriptions</th>
            <th>Accession</th>
            <th>Date</th>
            <th>Modality</th>
            <th>Images</th>
        </tr>
    </thead>
    <tr>
        <td data-title="Patient Name"><span class="txt"><a href="#">John Doe</a></span></td>
        <td data-title="Patient ID"><span class="txt">109886</span></td>
        <td data-title="Birthdate"><span class="txt"><time datetime="2017-05-11">18/11/1985</time></span></td>
        <td data-title="Descriptions"><span class="txt">US Pelvis</span></td>
        <td data-title="Accession"><span class="txt">333001</span></td>
        <td data-title="Date"><span class="txt"><time datetime="2017-05-11">21/03/2017</time></span></td>
        <td data-title="Modality"><span class="txt">US</span></td>
        <td data-title="Images"><span class="txt">35</span></td>
    </tr>
    <tr class="empty">
        <td data-title="Patient Name"><span class="txt"></span></td>
        <td data-title="Patient ID"><span class="txt"></span></td>
        <td data-title="Birthdate"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Descriptions"><span class="txt"></span></td>
        <td data-title="Accession"><span class="txt"></span></td>
        <td data-title="Date"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Modality"><span class="txt"></span></td>
        <td data-title="Images"><span class="txt"></span></td>
    </tr>
    <tr class="empty">
        <td data-title="Patient Name"><span class="txt"></span></td>
        <td data-title="Patient ID"><span class="txt"></span></td>
        <td data-title="Birthdate"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Descriptions"><span class="txt"></span></td>
        <td data-title="Accession"><span class="txt"></span></td>
        <td data-title="Date"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Modality"><span class="txt"></span></td>
        <td data-title="Images"><span class="txt"></span></td>
    </tr>
    <tr class="empty">
        <td data-title="Patient Name"><span class="txt"></span></td>
        <td data-title="Patient ID"><span class="txt"></span></td>
        <td data-title="Birthdate"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Descriptions"><span class="txt"></span></td>
        <td data-title="Accession"><span class="txt"></span></td>
        <td data-title="Date"><span class="txt"><time datetime="2017-05-11"></time></span></td>
        <td data-title="Modality"><span class="txt"></span></td>
        <td data-title="Images"><span class="txt"></span></td>
    </tr>
</table>

<div class="pager">
    <a href="#" class="prev disabled"><i class="icon-arrow-left"></i></a>
    <ul>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
    </ul>
    <a href="#" class="next"><i class="icon-arrow-right"></i></a>
</div>

@code {

}
