@if (Patient == null)
{
    <p>No patient selected</p>
}
else
{
    <div class="author-info">
        <div class="img-holder">
            <img src="images/patient-img.jpg" alt="John DOE">
        </div>
        <h2><a href="#">@(Patient.FirstName + " " + Patient.LastName)<span class="age">(37y @(Patient.Gender == "Male" ? "M" : "F"))</span></a></h2>
        <strong class="center">My radiology Centre</strong>
    </div>
    <ul class="author-contact">
        <li><a class="email lightbox" href="#notification-popup">john@doe.com</a></li>
        <li><a class="tel" href="tel:0452222222">@Patient.MobilePhone</a></li>
    </ul>
    <ul class="author-detail">
        <li><a href="#"><i class="icon-report"></i>Report <span class="authorised">Authorised</span></a></li>
        <li><a href="#"><i class="icon-gallery"></i>Images <span>35</span></a></li>
        <li><a href="#"><i class="icon-download"></i>Download</a></li>
        <li><a href="#"><i class="icon-share"></i>Share</a></li>
        <li><a href="#"><i class="icon-activity"></i>Activity</a></li>
        <li><a href="#"><i class="icon-manage"></i>Manage</a></li>
        <li><a href="#"><i class="icon-referral"></i>Referral</a></li>
        <li><a href="#"><i class="icon-attachments"></i>Attachments</a></li>
    </ul>
    <div class="widget author-history">
        <h3>History</h3>
        <div class="widget-holder">
            <ul>
                <li>
                    <strong class="depart"><span>US</span></strong>
                    <div class="text">
                        <h4><a href="#">Ultrasound pregnancy less than 12 weeks</a></h4>
                        <time datetime="2017-05-11">4 weeks ago</time>
                    </div>
                </li>
                <li>
                    <strong class="depart"><span>XR</span></strong>
                    <div class="text">
                        <h4><a href="#">XR billateral foot</a></h4>
                        <time datetime="2017-05-11">2 months ago</time>
                    </div>
                </li>
                <li>
                    <strong class="depart"><span>CT</span></strong>
                    <div class="text">
                        <h4><a href="#">CT IAM (Petrous) +/- Brain</a></h4>
                        <time datetime="2017-05-11">6 months ago</time>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="widget author-access">
        <h3>User With Access</h3>
        <div class="widget-holder">
            <dl>
                <dt><a href="#">@(Patient.FirstName + " " + Patient.LastName)</a></dt>
                <dd>Patient</dd>
                <dt><a href="#">Sam Smith</a></dt>
                <dd>Referring Doctor</dd>
            </dl>
        </div>
    </div>
}


@code {
    [Parameter]
    public Patient Patient { get; set; }
}
