@page "/counter"

@layout MainLayoutDefault

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject StateFacade Facade
@inject IState<CounterState> CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.Value.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MudText Typo="Typo.h6">MudBlazor is nice!</MudText>

<MudRating SelectedValue="2" />

<Example />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount = CounterState.Value.Count;
        Facade.AddCounter(currentCount + 1);
    }
}
