@page "/patient-list"
@page "/"

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject StateFacade Facade
@inject IState<PatientState> PatientState

<main id="main" class="flex-box">
    <div id="content" class="flex-box">
        <section class="patient-list">
            <header class="header">
                <h1 style="color: #4cc2c6;">Dr John Doe’s Patient List</h1>

                <Dropdown Trigger="@(new TriggerType[] { TriggerType.Click })" Class="monthly-filter-ddl">
                    <Overlay>
                        <Menu>
                            @foreach (var filter in monthlyFilter)
                            {
                                <MenuItem @onclick="() => SelectedMonthlyFilter = filter">
                                    <a>
                                        @filter
                                    </a>
                                </MenuItem>
                            }
                        </Menu>
                    </Overlay>
                    <ChildContent>
                        <a class="ant-dropdown-link" @onclick:preventDefault>
                            @SelectedMonthlyFilter <Icon Type="down" />
                        </a>
                    </ChildContent>
                </Dropdown>

                @*<select class="monthly-filter-ddl">
                    <option>This Week</option>
                    <option>This Month</option>
                    <option>Last Month</option>
                    <option>Next Month</option>
                </select>*@
            </header>

            @if (PatientState.Value.IsLoadingPatientList && PatientState.Value.Patients == null)
            {
                <Skeleton Active="true" ParagraphRows="10"></Skeleton>
            }
            else
            {
                <PatientTable Patients="PatientState.Value.Patients" />
            }
        </section>
    </div>
    <a href="#" class="sidebar-opener">Patient <i class="icon-info"></i></a>
    <aside id="sidebar">
        @if (PatientState.Value.SelectedPatient != null)
        {
            <SelectedPatientDetails Patient="PatientState.Value.SelectedPatient ?? null" />
        }
        else
        {
            <p>No patient selected</p>
        }
    </aside>
</main>

@code {
        List<string> monthlyFilter = new List<string>();
        string SelectedMonthlyFilter;

    protected override async Task OnInitializedAsync()
    {
        Facade.LoadPatients();
        monthlyFilter.Add("This Week");
        monthlyFilter.Add("This Month");
        monthlyFilter.Add("Last Month");
        monthlyFilter.Add("Next Month");

        SelectedMonthlyFilter = monthlyFilter[0];
    }
}