@inherits LayoutComponentBase

<div class="wrapper">
    <NavBar />
    <div class="w1">
        @Body
    </div>
    <footer id="footer">
        <p>&copy; 2021 <a href="#">QUBS</a></p>
    </footer>
</div>
